params {
  bk_bed = "/mnt/storageBig8/work/micoli/SCNA_Purple/resources/merged_blacklist.bed"
  pon_breakend = "/mnt/storageBig8/work/micoli/SCNA_Purple/results/231006/gridss_pon_single_breakend.bed"
  pon_breakpoint = "/mnt/storageBig8/work/micoli/SCNA_Purple/results/231006/gridss_pon_breakpoint.bedpe"
  ensembl_dir = "/mnt/storageBig8/work/micoli/SCNA_Purple/resources/hmf_pipeline_resources.38_v5.31/common/ensembl_data"
  somatic_data = "/mnt/storageBig8/web-pub/projects/HERCULES/WGS/variants_allMatched/variants_v4.8/byPatient_VCFs"
  germline_data = "/mnt/storageBig8/resources/processed_data/HERCULES/WGS_germline_variants/germline_in_tumour/archive/240425/patient_VCFs"
  ref_genome_fa = "/mnt/csc-gc8/resources/references_annotations/reference_genomes/GRCh38d1vd1/GRCh38.d1.vd1.fa"
  loci_path = '/mnt/storageBig8/resources/processed_data/HERCULES/WGS_germline_variants/archive/240421/patient_biallelic_het_VCFs'
  gc_profile = '/mnt/storageBig8/work/micoli/SCNA_Purple/resources/GC_profile.1000bp.38.cnp'
  make_input = "/mnt/storageBig8/work/micoli/SCNA_Purple/src/Prepare_input_v2.0.R"
  multiploidy = "/mnt/storageBig8/work/micoli/SCNA_Purple/src/multiploidy.R"
  segs_sunrises = "/mnt/storageBig8/work/micoli/SCNA_Purple/src/segments_sunrises.R"
  driver_gene_panel = "/mnt/storageBig8/work/micoli/SCNA_Purple/resources/hmf_pipeline_resources.38_v5.31/common/DriverGenePanel.38.tsv"
  germline_hotspots = "/mnt/storageBig8/work/micoli/SCNA_Purple/resources/hmf_pipeline_resources.38_v5.31/variants/KnownHotspots.germline.38.vcf.gz"
  somatic_hotspots = "/mnt/storageBig8/work/micoli/SCNA_Purple/resources/hmf_pipeline_resources.38_v5.31/variants/KnownHotspots.somatic.38.vcf.gz"
}

executor {
  name = 'slurm'
  queueSize = 60
}

process {
  executor = 'slurm'
  queue = 'general'

}